body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: dodgerblue;
    text-align: center;
}

nav {
    width: 100%;
    background: #202c45;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.footer {
    width: 100%;
    height: 70px;
    background: #202c45;
    padding: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.footer h4 {
    color: #fff;
}

.nav {
    width: 100%;
    height: auto;
    transform-origin: top;
}

nav h1 {
    margin: 0;
    padding: 15px 20px;
    float: left;
}

nav h1 a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
    transition: .5s;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #f2184f;
}

.responsive-nav {
    width: 100%;
    background: #202c45;
    padding: 10px 30px;
    box-sizing: border-box;
    display: none;
}

.responsive-nav h3 {
    margin: 0;
    padding: 3px 0;
    float: left;
}

.responsive-nav h3 a {
    color: #fff;
    text-decoration: none;
}

.responsive-nav h4 {
    margin: 0;
    color: #fff;
    float: right;
    padding: 5px 10px;
    background: #f2184f;
    text-transform: uppercase;
    cursor: pointer;
}

#mobile {
    height: 0;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    overflow-y: hidden;
}

#mobile ul li {
    list-style: none;
    display: block;
    padding: 20px 30px;
    transition: .5s;
}

#mobile ul li a {
    color: #fff;
    text-decoration: none;
}

#mobile ul li:hover {
    background: #f2184f;
}

.content {
    margin-top: 58px;
    background: dodgerblue;
    height: auto;
}

a {
    color: #202c45;
    text-decoration: none;
    transition: .5s;
}



.footer h4 {
    color: #fff;
}

#footer-text a {
    color: #fff
}

#footer-text span {
    color: #f2184f;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;
}

.card {
    background-color: aliceblue;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 20px;
    margin: 20px
}

ul {
    list-style: none;
    margin-left: -40px;
}

li {
    padding: 5px
}

.card ul li a:hover {
    text-decoration: underline;
    color: dodgerblue;
}

@media (max-width: 900px) {
    nav {
        display: none;
    }

    .responsive-nav {
        display: block;
        box-sizing: border-box;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 9999;
    }

    .content {
        background: dodgerblue;
        height: 100vh;
        margin-top: 48px;
    }
}