body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: dodgerblue;
}

nav {
  width: 100%;
  background: #202c45;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.footer {
  width: 100%;
  height: 70px;
  background: #202c45;
  padding: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.footer h4 {
  color: #fff;
}

#footer-text a {
  color: #fff;
}

#footer-text span {
  color: #f2184f;
}

.nav {
  width: 100%;
  height: auto;
  transform-origin: top;
}

nav h1 {
  margin: 0;
  padding: 15px 20px;
  float: left;
}

nav h1 a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 30px;
  transition: 0.5s;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: #f2184f;
}

.responsive-nav {
  width: 100%;
  background: #202c45;
  padding: 10px 30px;
  box-sizing: border-box;
  display: none;
}

.responsive-nav h3 {
  margin: 0;
  padding: 3px 0;
  float: left;
}

.responsive-nav h3 a {
  color: #fff;
  text-decoration: none;
}

.responsive-nav h4 {
  margin: 0;
  color: #fff;
  float: right;
  padding: 5px 10px;
  background: #f2184f;
  text-transform: uppercase;
  cursor: pointer;
}

#mobile {
  height: 0;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  overflow-y: hidden;
}

#mobile ul li {
  list-style: none;
  display: block;
  padding: 20px 30px;
  transition: 0.5s;
}

#mobile ul li a {
  color: #fff;
  text-decoration: none;
}

#mobile ul li:hover {
  background: #f2184f;
}

.content {
  margin-top: 58px;
  background: dodgerblue;
  height: auto;
}

/* .items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: baseline;
    width: 90%;
    height: 100vh;
    margin: auto;
}

.item1 {
    width: 30%;
    padding: 20px;
    position: fixed;
}

.item2 {
    width: 70%;
    margin-left: 35%;
} */

.items {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.s-sidebar__trigger {
  z-index: 2;
  position: fixed;
  top: 58px;
  left: 0;
  height: 1em;
  background: #1e90ff;
}

#item1 {
  left: -20em;
}

.item1 {
  position: fixed;
  top: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 21em;
  height: 100%;

  background: #1e90ff;
  /* color: rgba(255, 255, 255, 0.7); */
}

.item1 form {
  position: absolute;
  top: 1em;
  left: 0;
  margin: 0;
  padding: 0px;
  width: 20em;
  margin-top: 65px;
}

.item1 form label {
  width: 100%;
}
.item1 form div {
  width: 100%;
}
.item1 form button {
  width: 100%;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #202c45;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#demo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
  width: 80%;
}

.card {
  background-color: aliceblue;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 20px;
  margin: 20px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}

.card-top h1 {
  padding: 0 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: space-between;
  align-items: baseline;
}

.social {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: row;
  align-content: space-between;
  align-items: baseline;
}

.card-footer h4 {
  padding: 0 10px;
}

a {
  color: #202c45;
  text-decoration: none;
  transition: 0.5s;
}

.stack-logo {
  height: 50px;
}

input {
  width: 70px;
  height: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.fromto {
  font-size: 15px;
  padding: 5px 0;
  cursor: pointer;
}

button {
  width: 200px;
  margin: 5px 0;
  padding: 10px 30px;
  transition: 0.5s;
  color: #fff;
  text-decoration: none;
  background: #202c45;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #f2184f;
}

input:focus {
  border: 1px solid #202c45;
  outline-style: solid;
  outline-color: #202c45;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

label {
  width: fit-content;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
  padding: 10px 0;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  padding-top: 10px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#founded {
  font-size: 20px;
  /* margin: 13px auto; */
  text-align: center;
  margin-left: 17px;
  margin: 20px 0 5px 15px;
}

@media (max-width: 900px) {
  nav {
    display: none;
  }

  .responsive-nav {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 9999;
  }

  .content {
    background: dodgerblue;
    height: 100vh;
    margin-top: 48px;
  }

  form {
    display: flex;
    justify-content: space-between;
    background-color: dodgerblue;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: baseline;
    width: 320%;
    padding-top: 10px;
    margin-top: -20px;
  }

  #demo {
    margin-top: 30px;
    margin-bottom: 60px;
    align-items: center;
    width: 100%;
  }

  .item2 {
    width: 100%;
    margin-left: 0;
  }

  .item1 {
    width: 20em;
  }

  .items {
    width: 100%;
  }

  .card {
    width: 80%;
  }

  .s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    height: 3em;
    background: #1e90ff;
  }
}
